.navbar-brand{
	font-family: 'Merriweather', serif;
	font-size: 30px;
	
}
.navbar #myMenu .custom-nav .navbar-item a{
	font-family: 'Merriweather', serif;
	
}

body{

font-family: 'Merriweather', serif;
}

